/* SD Python Meetup visualization */
#sdpython-meetup .axis path,
#sdpython-meetup .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#sdpython-meetup .x.axis path {
  display: none;
}

#sdpython-meetup .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#sdpython-meetup .dot {
  opacity: 0.5;
  fill: steelblue;
}
#sdpython-meetup .dot.poi {
  opacity: 1;
  fill: steelblue;
}
#sdpython-meetup .dot.poi:hover {
  opacity: 1;
  fill: orange;
}
#sdpython-meetup-tooltip {
  background-color: rgba(242, 242, 242, 0.8);
  border: 1px solid #666;
  padding: 15px;
}
